<%= form_tag("/characters/new", method: :post) do %>
<li><%= label_tag(:name) %></li>
<li><%= text_field_tag(:name) %></li>
<li><%= label_tag(:character) %></li>
<li><%= text_field_tag(:character) %></li>
<li><%= label_tag(:house) %></li>
<li><%= text_field_tag(:house) %></li>
<% end %>
